<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.11.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.11.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

<!-- Top Nav Bar-->
<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
     <span class="nav-tool-items">
       <a mat-button routerLink="sign-in" routerLinkActive="active">Log in</a>
       <a mat-button mat-raised-button routerLink="sign-up" routerLinkActive="active">Sign Up</a>
     </span>
</mat-toolbar>
<router-outlet></router-outlet>